
<% include partials/nav %>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/home">Home</a></li>
    <li class="breadcrumb-item active">Lounge</li>
  </ol>

<form action="/lounge" method="Get">
  <div class="form-group">
    <label for="exampleSelect1">List comments with a specified subject:</label>
    <select name="subject" class="form-control">

      <option selected value="" >Choose a subject..</option>

      <% subjects.forEach(subject => { %>
        <option value="<%=subject%>" > <%=subject%> </option>
        <%})%>
    </select>
    <button class="btn btn-primary mt-2" type="submit">List them..</button>
  </div>

</form>
  
<% comments.forEach(comment => { %>
    <div class="card text-white bg-primary mb-3" style="max-width: none;">
        <% if(comment.email === email) { %>
          <form action="/lounge/remove/<%=comment.id%>" method="POST"><button type="submit" class="btn btn-danger w-25 float-right">Remove</button></form>
        <% }%>
        <div class="card-header pl-5">SUBJECT: <%= comment.subject %></div>
        <div class="card-body">
          <h4 class="card-title"><%= comment.text %></h4>
          
            <% if(comment.email === email) { %>
              <p class="card-text ml-2">By: Me</p>
            <% } else {%>
              <p class="card-text ml-2">By: <%= comment.email %></p>
            <% } %>
          
        </div>
      </div>
<% }) %>

<form action="/lounge/saveComment" method="POST">
    <label for="exampleInputEmail1">Write a comment:</label>
      <% if (subject) {%> 
        <input readonly value="<%= subject %>" name="subject" class=" mb-2 form-control form-control-sm" type="text" placeholder="Subject">
      <% } else { %>
        <input value="" name="subject" class=" mb-2 form-control form-control-sm" type="text" placeholder="Subject">
        <% } %>
    <input name="comment" type="text" class="form-control" placeholder="Type your comment here..">
    <button class="btn btn-primary mt-1" type="submit">Submit</button>
</form>